* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
.product {
    height: auto;
    margin-bottom: 5%;
}
.card-img-top{
    height: auto;
}

h1{
    color: black;
}

.navbar{
    background-color: #070606;
    margin-bottom: 2.5%;
}
.navbar-brand{
    color: white;
    font-family: 'Lora', serif;
}
.navbar-brand:hover{
    color: white;
    font-family: 'Lora', serif; 
    font-weight: bolder;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
    font-weight: bolder;
}
  .container {
    border-radius: 5px;
    padding: 20px;
    color: black;
    
  }
.titulo{
    text-align: center;
}

html{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    
} 
body {
background-position: fixed; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */

}
.btn-primary{
    background-color: #aa2727;font-family: 'Lora', serif;
    border: 0px;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  
}


/**PROFILE**/
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
/**Fin PROFILE**/

/** LOGIN **/

.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f16868;
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f16868;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
background-color: #f74242;
  transition: background-color 0.2s;
  font-size: 110%;

}

.registrate {
  margin-top:5px;
  margin-left:auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  color: #f16868;
  padding-top: 5px;
}
.registrate:hover {
  color: red;
  font-size: 110%;
}
/**FIN DEL LOGIN**/

/***
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    color: black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    font-size: 50px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }***/

/*******Slider*****/
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    font-size: 18px;
    color: black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;

}


